<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/list.css">
</head>

<body>
    <div class="box">
        <h1>列表页面</h1>
        <ul>
            <li>这是第1个li</li>
            <li>这是第2个li</li>
            <li>这是第3个li</li>
            <li>这是第4个li</li>
            <li>这是第5个li</li>
            <li>这是第6个li</li>
            <li>这是第7个li</li>
            <li>这是第8个li</li>
            <li>这是第9个li</li>
            <li>这是第10个li</li>
            <li>这是第11个li</li>
            <li>这是第12个li</li>
            <li>这是第13个li</li>
            <li>这是第14个li</li>
            <li>这是第15个li</li>
            <li>这是第16个li</li>
            <li>这是第17个li</li>
            <li>这是第18个li</li>
            <li>这是第19个li</li>
            <li>这是第20个li</li>
            <li>这是第21个li</li>
            <li>这是第22个li</li>
            <li>这是第23个li</li>
            <li>这是第24个li</li>
            <li>这是第25个li</li>
            <li>这是第26个li</li>
            <li>这是第27个li</li>
            <li>这是第28个li</li>
            <li>这是第29个li</li>
            <li>这是第30个li</li>
        </ul>
    </div>
</body>

</html>