html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
img,
input,
ul,
li,
ol,
dl,
dt,
dd,
p,
a,
span,
button {
  margin: 0;
  padding: 0;
}
i,
em {
  font-style: normal;
}
img {
  border: 0;
  display: block;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #050505;
}
input,
button {
  border: none;
  outline: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
.w {
  width: 1200px;
  margin: 0 auto;
}
