html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
img,
input,
ul,
li,
ol,
dl,
dt,
dd,
p,
a,
span,
button {
  margin: 0;
  padding: 0;
}
i,
em {
  font-style: normal;
}
img {
  border: 0;
  display: block;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #050505;
}
input,
button {
  border: none;
  outline: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
.w {
  width: 1200px;
  margin: 0 auto;
}
.fzColor {
  color: #00a4ff;
  font-weight: bold;
}
body {
  background-color: #f3f5f7;
}
.footer {
  height: 500px;
}
/*这是头部*/
header {
  padding: 28px 0;
}
header .logo {
  margin-right: 66px;
}
header .logo a {
  display: block;
  width: 200px;
  height: 41px;
  font-size: 0;
  background: url('../images/logo.png');
}
header .nav ul li {
  float: left;
  margin-right: 34px;
  height: 40px;
  box-sizing: border-box;
}
header .nav ul li a {
  font-size: 18px;
  display: block;
  padding: 8px;
}
header .nav ul li:hover {
  border-bottom: 3px solid #00a7ff;
}
header .search {
  height: 38px;
  margin-right: 30px;
}
header .search input {
  width: 360px;
  height: 100%;
  text-indent: 20px;
  border: 1px solid #00a7ff;
  border-right: none;
  background-color: #f3f5f7;
}
header .user {
  margin-top: 3px;
  box-sizing: border-box;
}
header .user a {
  display: block;
  color: #666;
  font-size: 14px;
}
header .user a img {
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  margin-right: 6px;
  border: 2px solid #f3f5f7;
}
header .user a:hover img {
  border: 2px solid #00a7ff;
}
/*这是banner*/
.banner {
  background-color: #1c036c;
}
.banner .banner_beijing {
  background: url('../images/banner2.png');
  height: 420px;
}
.banner .banner_beijing .left_nav ul {
  width: 190px;
  padding: 7px 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.banner .banner_beijing .left_nav ul li {
  font-size: 14px;
}
.banner .banner_beijing .left_nav ul li a {
  display: block;
  color: #fff;
  padding: 13px 20px;
}
.banner .banner_beijing .left_nav ul li a i {
  float: right;
}
.banner .banner_beijing .left_nav ul li a:hover {
  color: #00a7ff;
}
.banner .banner_beijing .right_form {
  width: 230px;
  margin-top: 48px;
}
.banner .banner_beijing .right_form .form_title {
  height: 48px;
  background-color: #9bceea;
  line-height: 48px;
  text-align: center;
}
.banner .banner_beijing .right_form .form_title h4 {
  color: #fff;
  font-family: 'SimHei';
  font-size: 18px;
}
.banner .banner_beijing .right_form .form_main {
  background-color: #fff;
  padding-bottom: 10px;
}
.banner .banner_beijing .right_form .form_main a {
  display: block;
  padding: 18px 0;
  margin: 0 18px;
  border-bottom: 1px solid #e5e5e5;
}
.banner .banner_beijing .right_form .form_main a:nth-child(2) {
  padding: 12px 0;
}
.banner .banner_beijing .right_form .form_main a:hover p,
.banner .banner_beijing .right_form .form_main a:hover i {
  color: #00a4ff;
}
.banner .banner_beijing .right_form .form_main a p {
  font-size: 16px;
  color: #4e4e4e;
}
.banner .banner_beijing .right_form .form_main a p span {
  font-size: 14px;
}
.banner .banner_beijing .right_form .form_main a i {
  font-size: 12px;
  color: #a5a5a5;
}
.banner .banner_beijing .right_form .form_main button {
  width: 198px;
  height: 38px;
  font-weight: bold;
  background-color: #fff;
  border: 1px solid #00a4ff;
  font-size: 16px;
  color: #00a4ff;
  text-align: center;
  margin-left: 14px;
  cursor: pointer;
}
.banner .banner_beijing .right_form .form_main button:hover {
  background-color: #00a4ff;
  color: #fff;
}
/*这是精品推荐栏*/
.recomm_bar {
  background-color: #fff;
  padding: 20px 0;
  margin-top: 10px;
  box-shadow: 0px 2px 5px #ddd;
}
.recomm_bar .recomm_bar_nav ul li {
  float: left;
  border-right: 1px solid #bfbfbf;
  padding: 0 34px;
}
.recomm_bar .recomm_bar_nav ul li:nth-child(7) {
  border-right: none;
}
.recomm_bar .recomm_bar_alter {
  font-size: 14px;
  padding-right: 24px;
}
.recomm_bar .recomm_bar_alter a {
  color: #00a4ff;
}
